@tailwind base;
@tailwind components;
@tailwind utilities;

.surface{
  animation: surf 1s forwards;
  opacity: 0%;
  animation-delay: 2.5s;
}
@keyframes surf {
  to{
    opacity: 100%;
  }
  
}
.fades
{
  animation: fade 1s forwards;
  animation-delay: 7s;
}
.fade{
  animation:fading 2s forwards
}
.blurRain
{
  animation:blur 2s forwards;
}
.blurOut
{
  animation:blurO 1s forwards
}
@keyframes blurO {
  from{
    filter:blur(4px);
  }
  to
  {
    filter: blur(0px);
    /* opacity: 0%; */
  }
  
}
@keyframes blur {
  from{
    filter: blur(0px);
    /* opacity: 100%; */
  }
  to
  {
    filter:blur(2px);
    /* opacity: 50%; */
  }
  
}
@keyframes fading {
from{
  opacity: 100%;
}
to{
  opacity: 0%;
}

}
@keyframes fade {
  from{
    opacity: 100%;
  }
  to{
    opacity: 0%;
  }
  
}

